<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Dropbox Sharable Links</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	 crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	 crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<style>
		* {
			font-family: 'Lato', sans-serif;
			line-height: 2;
    		letter-spacing: 0.5px;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-dark bg-primary">
		<div class="container">
			<span class="navbar-brand mb-0 h1">
				<i class="fa fa-dropbox"></i>
			</span>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Get Sharable Links</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="mt-5"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Create Sharable Links</h4>
						<h6 class="card-subtitle mb-2 text-muted">Enter your Dropbox API key &amp; Folders for whic you wish to generate sharable links</h6>
						<form>
							<div class="form-group">
								<div class="input-group">
									<input type="password" class="form-control form-control-sm" id="txtAPiKey" placeholder="API Key">
									<div class="input-group-append">
										<button id="btnToggleAPIDisplay" class="btn btn-outline-secondary btn-sm" type="button" data-toggle="button" aria-pressed="false"
										 autocomplete="off">
											<i class="fa fa-eye"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="form-group">
								<textarea class="form-control form-control-sm" id="txtFolderPaths" rows="6" placeholder="Folder Paths"></textarea>
							</div>
							<button type="button" id="btnGenerateLinks" class="btn btn-primary btn-sm pull-right">Generate Links</button>
						</form>
						<div class="clearfix"></div>
						<code id="tokenResponse"></code>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Get Token Status</h4>
						<h6 class="card-subtitle mb-2 text-muted">Enter your Token to get the links for the generated files</h6>
						<form>
							<div class="form-group">
								<input type="text" class="form-control form-control-sm" id="txtToken" placeholder="Token">
							</div>
							<button type="button" id="btnGetTokenStatus" class="btn btn-primary btn-sm pull-right">Get Token Status</button>
						</form>
						<div class="clearfix"></div>
						<code id="tokenStatus"></code>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-md-12">
				<h3>How this works</h3>
				<p>This utility will allow a user to generate the <strong>Sharable Links</strong> in Bulk for all the files within a given folder.</p>
				<hr>
				<h5>1. Generating API Key</h5>
				<ul>
					<li>Log in to Dropbox</li>
					<li>Visit Link <a href="https://www.dropbox.com/developers/apps" target="_blank">https://www.dropbox.com/developers/apps</a></li>
					<li>Click on Create app (button to top right)</li>
					<li>Select the option <strong>"Dropbox API"</strong> (first option)</li>
					<li>Select the option <strong>"Full Dropbox"</strong></li>
					<li>Give an appropriate name to your app</li>
					<li>Once the app is created, Open it</li>
					<li>You have to click on the button to <strong>"Generate Access Token"</strong> which is present in the "OAuth2" section of the app</li>
					<li>Copy the token that is generated and save it somewhere</li>
					<li>This Token is used as the <strong>API Key</strong> in our application</li>
				</ul>
				<h5>2. Getting Folder Paths</h5>
				<ul>
					<li>The folder paths should start with <strong>"/"</strong></li>
					<li>The folder path should be the path relative from the <strong>Dropbox Root Directory</strong></li>
					<li>If more than 1 folder paths are to be selected, then insert new folder path on a new line</li>
					<li>Each folder path will have a corresponding csv file generated</li>
					<li>All the files in the folder as well as all the sub-folders will generate sharable links</li>
					<li>Folder Paths are case sensitive. Please make sure you add proper casing and spaces while adding folder paths.</li>
				</ul>
			</div>
		</div>
		<hr>
		<footer class="text-center my-3">&copy; Dropbox Sharable Links</footer>
	</div>

	<script>
		$(document).ready(function () {
			var storageToken = localStorage.getItem('dropbox-token');
			var apiToken = localStorage.getItem('api-token');
			if(storageToken){
				$("#txtToken").val(storageToken);
			}
			if(apiToken){
				$("#txtAPiKey").val(apiToken);
			}

			$("#btnToggleAPIDisplay").click(function () {
				if ($("#btnToggleAPIDisplay").hasClass('active')) {
					// Hide API
					$("#txtAPiKey").attr('type', 'password');
				} else {
					// Show API
					$("#txtAPiKey").attr('type', 'text');
				}
			});

			$("#btnGenerateLinks").click(function () {
				var apiKey = $("#txtAPiKey").val();
				var folders = $("#txtFolderPaths").val().split(/\n/);
				$.ajax({
					url: '/create_links',
					contentType: "application/json",
					type: 'POST',
					dataType: 'json',
					data: JSON.stringify({
						api_key : apiKey,
						folders : folders
					}),
					success: function (data) {
						if(data.status == true){
							$("#tokenResponse").html(data.message + '<br>');
							$("#tokenResponse").append('Use this token to check the status : ' + data.token);
							$("#txtToken").val(data.token);
							localStorage.setItem('dropbox-token', data.token);
							localStorage.setItem('api-token', apiKey);
						}
					}
				});
			});

			$("#btnGetTokenStatus").click(function () {
				var token = $("#txtToken").val();
				localStorage.setItem('dropbox-token', token);
				$.ajax({
					url: '/get_status/' + token,
					success: function (data) {
						if (data.length == 0) {
							$("#tokenStatus").text("Token Not Found");
						} else {
							var fileList = '';
							$.each(data, function (index, item) {
								console.log(item);
								if (item.end_time != false) {
									fileList += '<li><a href="/' + item.file_path + '">' + item.file_path + '</a></li>';
								} else {
									fileList += '<li>' + item.file_path + ' - still generating links</li>'
								}
							});
							$("#tokenStatus").html("<ul>" + fileList + "</ul>");
						}
					}
				});
			});
		});
	</script>
</body>

</html>